/* Main Content */
.main-content {
    background: #081028;
    flex: 1;
    height: 100vh;
    padding: 76px 26px 26px;
    overflow-y: auto;
    overflow-x: hidden;
}

.section__status {
    padding: 50px 0 0;
    border-radius: 10px;
    background: #0b1739;
}

.section__inner-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.section__heading {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.section__headeing-wrap--small {
    display: flex;
    align-items: center;
    gap: 12px;
}

.section__data {
    display: flex;
    align-items: center;
    padding: 9px;
    border-radius: 4px;
    gap: 12px;
    max-width: 131px;
    height: 30px;
    background: #0a1330;
    color: #8d98be;
}

.section__data-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section__data-wrap i {
    font-size: 14px;
}

.section-date {
    font-size: 1rem;
    font-weight: 500;
    color: #a6b1d8;
}

.section__data-wrap + i {
    font-size: 8px;
}

/* save  + edit */
.section__save-btn,
.section__edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 39px;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background: #cb3cff;
    background: linear-gradient(
        90deg,
        rgba(203, 60, 255, 1) 0%,
        rgba(127, 37, 251, 1) 100%
    );
    color: #fff;
}



.active-hidden {
    display: none;
}

/* label - heading*/
.section__inner-label--other,
.section__inner-label {
    display: grid;
    align-items: center;
    grid-template-columns: 130px 1fr 145px 135px 140px 140px 1fr 80px;
}
.section__inner-label {
    grid-auto-rows: 93px;
}
.section__inner-label--other {
    padding: 30px 30px 24px;
}

.section__inner-label {
    padding-right: 30px;
    padding-left: 20px;
}

.section__inner-label:nth-child(odd) {
    background: #0e1c43b9;
}

.section__inner-label:hover {
    background: #0911289c;
}

.section-item:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-item:nth-of-type(3),
.section-item:nth-of-type(4),
.section-item:nth-of-type(5),
.section-item:nth-of-type(6),
.section-item:nth-of-type(7),
.section-item:nth-of-type(8) {
    justify-self: center;
}

.section-item__check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 11px;
    height: 14px;
    background: #cb3cff;
}

.section-item i {
    font-size: 12px;
    color: #a6b1d8;
    padding-right: 2px;
}

.section-item__title {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* Add status products */
.section-checkbox {
    /* visibility: hidden; */
    opacity: 0;
}

.section-checkmark {
    position: relative;
    padding-top: 1px;
    font-weight: 500;
}
.section-checkmark::before {
    position: absolute;
    top: 2px;
    left: -17px;
    content: "";
    width: 12px;
    height: 12px;
    outline: 1px solid #7e89ac;
    border-radius: 3px;
    background: transparent;
}

.section-checkmark::after {
    position: absolute;
    top: 2px;
    left: -17px;
    display: none;
    justify-content: center;
    align-items: center;
    content: url(../icons/Check.svg);
    width: 12px;
    height: 12px;
    border-radius: 2.5px;
    font-size: 13px;
    background: #cb3cff;
    outline: 1px solid #cb3cff;
}

.section__custom-checkbox {
    padding: 10px;
    cursor: pointer;
}

.section__custom-checkbox input:checked + .section-checkmark::after {
    display: flex;
}

.section__info-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section__info-name,
.section__info-mail {
    font-weight: 500;
}

.section__info-mail {
    color: #a6b1d8;
}

.section-item__date,
.section-item__location,
.section-item__total,
.section-item__total {
    padding-right: 5px;
}

/* Status - red - yellow - green */
.section-item__status--green {
    position: relative;
    display: block;
    margin-left: -5px;
    width: 60px;
    height: 18px;
    border: 1px solid #085244;
    border-radius: 3px;
    background: #09363b;
}

.section-item__status--green::before {
    position: absolute;
    top: 2px;
    left: 12px;
    content: "Delivered";
    font-size: 1rem;
    font-weight: 500;
    color: #14ca74;
}

.section-item__status--green::after {
    position: absolute;
    top: 6px;
    left: 6px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #14ca74;
}

.section-item__status--red {
    position: relative;
    display: block;
    margin-left: -5px;
    width: 60px;
    height: 18px;
    border: 1px solid #632f49;
    border-radius: 3px;
    background: #3c2442;
}

.section-item__status--red::before {
    position: absolute;
    top: 2px;
    left: 12px;
    content: "Canceled";
    font-size: 1rem;
    font-weight: 500;
    color: #ff5a65;
}

.section-item__status--red::after {
    position: absolute;
    top: 6px;
    left: 6px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff5a65;
}

.section-item__status--yellow {
    position: relative;
    display: block;
    margin-left: -5px;
    width: 60px;
    height: 18px;
    border: 1px solid #634d2c;
    border-radius: 3px;
    background: #3c3532;
}

.section-item__status--yellow::before {
    position: absolute;
    top: 2px;
    left: 13px;
    content: "Prepare";
    font-size: 1rem;
    font-weight: 500;
    color: #eda927;
}

.section-item__status--yellow::after {
    position: absolute;
    top: 6px;
    left: 6px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #eda927;
}

.section-item__date,
.section-item__location,
.section-item__total {
    font-weight: 500;
}

.section-item__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 7px 0;
}

.section-icon__trash i {
    font-size: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.section-icon__trash:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.2);
}
