{{#contentFor "styleadmin"}}
    <link rel="stylesheet" href="/css/chatadmin.css" />
{{/contentFor}}

       <main class="main-content">
            <div class="chat-container">
                <!-- Chat Main Header -->
                <div class="chat-main-header">
                    <h2 class="chat-main-title">Chat</h2>
                </div>

                <!-- Chat Content Wrapper -->
                <div class="chat-content-wrapper">
                    <!-- User List -->
                    <div class="user-list">
                        <div class="user-list-header">
                            <div class="user-search-box">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" class="user-search-input" placeholder="Search User">
                            </div>
                        </div>
                    <div class="users-scroll">
                        <div class="user-item active">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                        <div class="user-item">
                            <div class="user-item-avatar"></div>
                            <div class="user-item-info">
                                <div class="user-item-name">John nguyen</div>
                                <div class="user-item-message">You - Okay sir</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chat Area -->
                <div class="chat-area">                    
                    <div class="chat-header">
                        <div class="chat-user-info">
                            <div class="chat-user-name">Nguyen minh thuan</div>
                            <div class="chat-user-avatar"></div>
                        </div>
                        
                    </div>

                    <div class="chat-messages">
                        <div class="message received">
                            <div class="product-message">
                                <div class="product-image"></div>
                                <div class="product-info">
                                    <div class="product-name">Type II Trucker Jacket 'Pioneeracket' - Raw Selvedge Denimxsg</div>
                                </div>
                                <div class="chat-price">333.032$</div>
                            </div>
                            
                        </div>

                        <div class="message received">
                            <div class="message-content">
                                can you give me some advise about this product
                            </div>
                        </div>

                        <div class="message sent">
                            <div class="message-content">
                                Hi sir how can i help you
                            </div>
                        </div>
                    </div>

                    <div class="chat-input-area">
                        <input type="text" class="chat-input" placeholder="Type here">
                        <button class="send-button">Send</button>
                    </div>
                </div>
            </div>
        </main>  