{{#contentFor "styleadmin"}}
    <link rel="stylesheet" href="/css/addProducts.css" />
{{/contentFor}}

{{! Add product }}
<div class="main-content">
    <div class="header">       
        <div class="header__save-box">
            <i class="fa-solid fa-floppy-disk"></i>
            <div class="header__save">Save</div>
        </div>
    </div>
    <!-- Information add products -->
    <div class="add-wrap">
        <div class="add-left">
            <!-- Main Product Images -->
            <div class="add-card__item" data-index="0">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="add-card__item" data-index="1">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="add-card__item" data-index="2">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="add-card__item" data-index="3">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="add-card__item" data-index="4">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="add-card__item" data-index="5">
                <input type="file" class="image-input" accept="image/*" style="display: none;">
                <div class="add-card__plus">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <img class="preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
            </div>
        </div>
        <div class="add__info-wrap">
            <input class="add__info-desc" type="text" placeholder="Enter Name product" id="productName">
            <textarea class="add__info-textarea" name="description" id="description" placeholder="Enter Description"></textarea>
            <div class="add__info--input">
                <div class="add__info-cost">
                    <label class="add__info-desc" for="add__input-cost">Cost :</label>
                    <input type="number" name="cost" id="add__input-cost" class="add__input-cost" placeholder="What is the price of the product?" step="0.01" min="0">
                </div>
                <div class="filer_box add__info-filter">
                    <i class="fa-solid fa-filter"></i>
                    <select class="add__info-edit" id="typeSelect">
                        <option value="">Select Type</option>
                        <option value="1">t-shirts</option>
                        <option value="2">shirts</option>
                        <option value="3">knitwear</option>
                        <option value="4">sweatshirts</option>
                        <option value="5">pants</option>
                        <option value="6">outerwear</option>
                        <option value="7">shoes</option>
                    </select>
                </div>
            </div>
            <div class="section__form">
                <div class="section__form-size section__form-size--M">M</div>
                <div class="section__form-size section__form-size--L">L</div>
                <div class="section__form-size section__form-size--XL">XL</div>
                <div class="section__form-size section__form-size--XXL">XXL</div>
            </div>
            <div class="add_quantity">
                <input type="number" class="add__quantity-input" placeholder="Enter quantity" step="1" min="0" pattern="[0-9]*">
                <button class="add-save-btn">
                    <i class="fa-solid fa-floppy-disk"></i>
                    <span class="modal-save-text">Save</span>
                </button>
            </div>
            <h2 class="add__info-heading-other">OTHER COLORS</h2>
            <div class="add__info-card--wrap" id="colorCardsContainer">
                <div class="add__product-color">
                    <div class="add-card__plus add__product-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Other Colors -->
<div class="modal-overlay" id="colorModal">
    <div class="modal-content">
        <div class="modal-grid">
            <!-- Left - Color Images -->
            <div class="modal-left">
                <div class="modal-image-item" data-modal-index="0">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="modal-image-item" data-modal-index="1">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="modal-image-item" data-modal-index="2">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="modal-image-item" data-modal-index="3">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="modal-image-item" data-modal-index="4">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="modal-image-item" data-modal-index="5">
                    <input type="file" class="modal-image-input" accept="image/*" style="display: none;">
                    <div class="modal-image-plus">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 6.25V23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.25 15H23.75" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <img class="modal-preview-image" style="display: none; width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>

            <!-- Right - Product Info -->
            <div class="modal-right">
                <div>
                    <div class="modal-product-name">Product Color</div>
                    <div class="modal-product-color">
                        <input type="text" class="modal_color" placeholder="Enter color name">
                    </div>
                </div>

                <div class="modal-size-grid">
                    <button class="modal-size-btn" data-size="M">M</button>
                    <button class="modal-size-btn" data-size="L">L</button>
                    <button class="modal-size-btn" data-size="XL">XL</button>
                    <button class="modal-size-btn" data-size="XXL">XXL</button>
                </div>

                <div class="modal-quantity-wrap">
                    <input type="number" class="modal-quantity-input" placeholder="Enter quantity" step="1" min="0" pattern="[0-9]*">
                    <button class="modal-save-btn">
                        <i class="fa-solid fa-floppy-disk"></i>
                        <span class="modal-save-text">Save</span>
                    </button>
                </div>
            </div>
        </div>

        <button class="modal-done-btn" id="closeModalBtn">
            <i class="fa-solid fa-check"></i>
            Done
        </button>
    </div>
</div>

<script src="/js/create.js"></script>
