 {{#contentFor "styles"}}
    <link rel="stylesheet" href="/css/addProducts.css" />
{{/contentFor}}
 {{! Add product }}
create - add product




    <div class="Listproduct_container">

        <div class="main-content">
            <!-- Header menu -->
            <div class="header">
                <div class="header_search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="header_search-input" placeholder=" Search product">
                </div>
                <div class="filer_box">
                    <i class="fa-solid fa-filter"></i>
                    <select id="filter">
                        <option selected>
                            Filter
                        </option>
                        <option>t-shirts</option>
                        <option>shirts</option>
                        <option>knitwear</option>
                        <option>sweatshirts</option>
                        <option>pants</option>
                        <option>outerwear</option>
                        <option>shoes</option>
                    </select>
                </div>
                <a href="#!" class="add_page">+ Add</a>
                <div class="header__save-box">
                    <i class="fa-solid fa-floppy-disk"></i>
                    <div class="header__save">Save</div>
                </div>
                <div class="header__edit-box active-hidden">
                    <i class="fa-solid fa-gear"></i>
                    <div class="header__edit">Edit</div>
                </div>
            </div>
            <!-- Information add products -->
            <div class="add-wrap">
                <div class="add-left">
                    <!-- item 1 -->
                    <div class="add-card__item">
                        <div class="add-card__plus ">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <!-- item 2 -->
                    <div class="add-card__item">
                        <div class="add-card__plus">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <!-- item 3 -->
                    <div class="add-card__item">
                        <div class="add-card__plus">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <!-- item 4 -->
                    <div class="add-card__item">
                        <div class="add-card__plus">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <!-- item 5 -->
                    <div class="add-card__item">
                        <div class="add-card__plus">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <!-- item 6 -->
                    <div class="add-card__item">
                        <div class="add-card__plus">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 6.25V23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M6.25 15H23.75" stroke="#aeb9e1" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="add-right">
                    <div class="add__info-wrap">
                        <p class="add__info-desc">Name product</p>
                        <h2 class="add__info-heading">Information</h2>
                        <div class="add__info--input">
                            <div class="add__info-cost">
                                <label class="add__info-desc" for="add__input-cost">Cost :</label>
                                <input type="text" name="cost" id="add__input-cost" class="add__input-cost"
                                    placeholder="What is the price of the product?">
                            </div>
                            <div class="filer_box add__info-filter">
                                <i class="fa-solid fa-filter"></i>
                                <select class="add__info-edit" id="outerwear">
                                    <option selected>
                                        Outerswear
                                    </option>
                                    <option value="1">t-shirts</option>
                                    <option value="2">shirts</option>
                                    <option value="3">knitwear</option>
                                    <option value="4">sweatshirts</option>
                                    <option value="5">pants</option>
                                    <option value="6">outerwear</option>
                                    <option value="7">shoes</option>
                                </select>
                            </div>
                        </div>
                        <div class="section__form">
                            <div class="section__form-size section__form-size--M">M</div>
                            <div class="section__form-size section__form-size--L active-form ">L</div>
                            <div class="section__form-size section__form-size--XL">XL</div>
                            <div class="section__form-size section__form-size--XXL">XXL</div>
                        </div>
                        <h2 class="add__info-heading-other">OTHER COLORS</h2>
                        <div class="add__info-card--wrap">
                            <!-- other color 1 -->
                            <div class="add__product-color">
                                <div class="add-card__plus add__product-plus">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 6.25V23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6.25 15H23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <!-- other color 2 -->
                            <div class="add__product-color">
                                <div class="add-card__plus add__product-plus">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 6.25V23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6.25 15H23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <!-- other color 3 -->
                            <div class="add__product-color">
                                <div class="add-card__plus add__product-plus  active__product-color">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 6.25V23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6.25 15H23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                            <!-- other color 4 -->
                            <div class="add__product-color">
                                <div class="add-card__plus add__product-plus">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 6.25V23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6.25 15H23.75" stroke="#000" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const dashboardBtn = document.querySelector('.dashboard-btn');
        const dashboardMenu = document.querySelector('.dashboard_menu');
        const dashboardIcon = document.querySelector('.dashboard-icon');
        const menuItems = document.querySelectorAll('.menu-item');

        // Ẩn menu
        dashboardMenu.style.maxHeight = '0';
        dashboardMenu.style.opacity = '0';
        dashboardMenu.style.overflow = 'hidden';
        dashboardMenu.style.transition = 'max-height 0.5s ease, opacity 0.5s ease';

        // Biến theo dõi trạng thái menu
        let isMenuOpen = false;

        dashboardBtn.addEventListener('click', function () {
            isMenuOpen = !isMenuOpen;

            if (isMenuOpen) {
                dashboardMenu.style.maxHeight = dashboardMenu.scrollHeight + 'px';
                dashboardMenu.style.opacity = '1';
                dashboardIcon.style.transform = 'rotate(90deg)';
                dashboardIcon.style.transition = 'transform 0.3s ease';
            } else {
                dashboardMenu.style.maxHeight = '0';
                dashboardMenu.style.opacity = '0';
                dashboardIcon.style.transform = 'rotate(0deg)';
            }
        });

        // Xử lý active menu item
        menuItems.forEach(item => {
            const container = item.querySelector('.item_container');
            if (!container) return;

            item.addEventListener('click', function (e) {
                e.stopPropagation();

                const isActive = container.classList.contains('menu-item--active');

                menuItems.forEach(i => {
                    const c = i.querySelector('.item_container');
                    if (c) c.classList.remove('menu-item--active');
                });

                if (!isActive) container.classList.add('menu-item--active');
            });
        });

    </script>


