* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Nunito Sans", sans-serif;
}

/* Common */
.Listproduct_container {
    display: flex;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* Sidebar */
.Listproduct_sidebar {
    width: 300px;
    height: 100vh;
    background-color: #081028;
    padding: 20px;
    border-right: 1px solid #2a3040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Listproduct_logo {
    font-size: 3.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.sidebar_search-box {
    background: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 30px;
    color: #aeb9e1;
    font-size: 1.4rem;
    width: 244px;
    height: 42px;
    margin: 12px 0 24px 12px;
    border-radius: 6px;
}

.sidebar_search-input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 6px;
    color: #aeb9e1;
    font-size: 1.4rem;
}

.sidebar_search-input::placeholder {
    color: #aeb9e1;
}

.menu {
    border-bottom: 1px solid #2a3040;
}

.menu-item {
    height: 42px;
    width: 244px;
    color: #aeb9e1;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-left: 12px;
    justify-content: space-between;
}

.item_container {
    display: flex;
}

.menu-item i {
    margin-right: 12px;
    padding-left: 8px;
}

.menu-item:hover {
    background-color: #152043;
    border-radius: 5px;
}

.menu-item--active {
    color: #cb3cff;
}

.dashboard_menu {
    display: block;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.dashboard-icon {
    transition: transform 0.3s ease;
}

.dashboard_item {
    height: 42px;
    width: 244px;
    color: #aeb9e1;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 38px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.dashboard_item--active {
    border-left: 6px solid #cb3cff;
    border-radius: 5px;
    background-color: #152043;
}

.dashboard_item:hover {
    background-color: #152043;
    border-radius: 5px;
}

.user-section {
    margin-top: 30px;
    padding-top: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.user-name {
    font-size: 1.4rem;
    color: #fff;
}

.user_sub {
    display: flex;
    font-size: 1.2rem;
    color: #aeb9e1;
    gap: 100px;
}

.user-subtitle:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Main Content */
.main-content {
    background: #081028;
    flex: 1;
    height: 100vh;
    padding: 20px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header_search-box {
    width: 244px;
    height: 42px;
    border: 1px solid #2a3040;
    border-radius: 6px;
    padding: 12px;
    font-size: 1.4rem;
    background: #0b1739;
    color: #aeb9e1;
}

.header_search-input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 6px;
    color: #aeb9e1;
    font-size: 1.4rem;
}

.header_search-input::placeholder {
    color: #aeb9e1;
}

.filer_box {
    background: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 6px;
    height: 42px;
    width: 119px;
    color: #aeb9e1;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filer_box i {
    font-size: 1.6rem;
    margin-left: 6px;
}

#filter {
    background: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 6px;
    color: #aeb9e1;
    height: 40px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.add_page {
    background: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 6px;
    color: #aeb9e1;
    height: 42px;
    width: 61px;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.add_page:hover {
    background-color: #152043;
}

.header__save-box,
.header__edit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 6px;
    padding: 12px;
    height: 42px;
    width: 61px;
    font-size: 1.4rem;
    background: #0b1739;
    color: #aeb9e1;
}

.header__save-box:hover,
.header__edit-box:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 2px 4px 0px rgb(1 5 17 / 20%);
}

.active-hidden {
    display: none;
}

/* Add product */
.add-wrap {
    display: flex;
    margin-top: 77px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* add card -- left */
.add-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
    row-gap: 1px;
    column-gap: 1px;
    width: 439px;
    background: #d9d9d9;
}

.add-card__item {
    position: relative;
    width: 219px;
    height: 269px;
    background: #d9d9d9;
    border: 1px solid #999898;
}

/* .add-card__item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    content: "";
    width: calc(440px / 6);
    background: #cfcfd0;
} */

/* .add-card__item::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    content: "";
    width: calc(440px / 6);
    background: #cfcfd0;
} */

.add-card__plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #081028;
    z-index: 1;
}

.add-card__plus:hover {
    cursor: pointer;
    opacity: 0.99;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* add card -- right */
.add__info-wrap {
    width: 465px;
    margin-left: 66px;
    padding-left: 22px;
    padding-top: 8px;
}

.add__info-desc {
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 26px;
}

.add__info-heading,
.add__info-heading-other {
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
}

.add__info-heading-other {
    font-size: 1.5rem;
    font-weight: 700;
}

.add__info--input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.add__input-cost {
    background: transparent;
    border: 1px solid #152b6b23;
    color: #e8ebbc;
    font-size: 1.5rem;
    width: 270px;
}

.add__input-cost:focus {
    outline: none;
}

.add__info-filter {
    justify-content: space-between;
    width: 120px;
    gap: 8px;
}

.add__info-edit {
    font-size: 1.2rem;
    font-weight: 500;
    background: #0b1739;
    border: 1px solid #343b4f;
    border-radius: 6px;
    color: #aeb9e1;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Form size */
.section__form {
    margin-top: 23px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.section__form-size {
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.471);
    text-align: center;
    white-space: nowrap;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.section__form-size:hover {
    outline: 1px solid #fff;
}

.active-form {
    outline: 1px solid #fff;
}

.add__info-heading-other {
    margin-top: 30px;
    font-weight: 700;
}

.add__info-card--wrap {
    display: flex;
    margin-top: 14px;
    gap: 12px;
}

/* choose product color */

.add__product-color {
    position: relative;
    width: 50px;
    height: 65px;
    border-radius: 2px;
    background: #d9d9d9;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.add__product-plus {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #d9d9d9;
    outline: 1px solid #000;
    color: #000;
}

.active__product-color {
    position: relative;
    display: none;
    z-index: -1;
}

.add__product-color:has(.active__product-color) {
    background-image: url(../img/ortherColor1.svg);
}

.add__product-color:has(.active__product-color)::after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    content: "X";
    position: absolute;
    right: -9px;
    top: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4a4f60;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.add__product-color:has(.active__product-color)::after:hover {
    opacity: 0.9;
}
