<!-- FOOTER -->
<footer>
    <div class="footer-grid">
        <div>
            <h3>Fair pricing</h3>
            <p>
                We offer a meticulous selection of high-quality clothing and
                accessories at the best prices.
            </p>
        </div>
        <div>
            <h3>Fast delivery</h3>
            <p>
                Dispatch within 24 business hours. Swift and reliable delivery
                to your doorstep.
            </p>
        </div>
        <div>
            <h3>Return and exchange</h3>
            <p>You have up to 14 days to return your products to us.</p>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-left">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Dog Trainer</a></li>
                <li><a href="#">Medical Assistant</a></li>
                <li><a href="#">Medical Assistant</a></li>
                <li><a href="#">Medical Assistant</a></li>
                <li><a href="#">Dog Trainer</a></li>
                <li><a href="#">Nursing Assistant</a></li>
                <li><a href="#">President of Sales</a></li>
                <li><a href="#">President of Sales</a></li>
                <li><a href="#">Nursing Assistant</a></li>
                <li><a href="#">Medical Assistant</a></li>
                <li><a href="#">Marketing Coordinator</a></li>
                <li><a href="#">Nursing Assistant</a></li>
                <li><a href="#">Nursing Assistant</a></li>
                <li><a href="#">President of Sales</a></li>
            </ul>
        </div>
        <div class="bottom-center">
            <ul>
                <li><a href="#">Initiate a Return</a></li>
                <li><a href="#">Help & Questions</a></li>
                <li><a href="#">Join Us</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Legal Mentions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="bottom-right">
            <div class="rating-box">
                <div class="stars">
                    ★★★★★
                </div>
                <p><strong>4.9</strong> out of 5 stars</p>
                <p>Based on <strong>808 customer </strong>reviews</p>

                <div class="social-buttons">
                    <button><i class="fa-brands fa-google"></i> Google</button>
                    <button class="Twitter"><i
                            class="fa-brands fa-x-twitter"
                        ></i>
                        Twitter</button>
                </div>
            </div>

            <!-- Khối đăng ký email -->
            <div class="subscribe-box">
                <p><strong>10% off your first order</strong></p>
                <form>
                    <input type="email" placeholder="Email" required />
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>

            <!-- Logo thanh toán -->
            <div class="payment-box">
                <div class="payment-box__item"></div>
            </div>
            <p class="copyright">© 2025 shoppmall. All rights reserved.</p>
        </div>
    </div>
</footer>