<!-- HEADER -->
<header class="header">
    <a href="/" class="header__link-logo">
        <div class="logo">shoppmall</div>
    </a>

    <nav>
        <ul class="nav-links">
            <li><a href="/products">all products</a></li>
            <li><a href="/products/t_shirts">t-shirts</a></li>
            <li><a href="/products/shirts">shirts</a></li>
            <li><a href="/products/knitwear">knitwear</a></li>
            <li><a href="/products/sweatshirts">sweatshirts</a></li>
            <li><a href="/products/pants">pants</a></li>
            <li><a href="/products/outerwear">outerwear</a></li>
            <li><a href="/products/shoes">shoes</a></li>
            <li><a href="../about">about us</a></li>
        </ul>
    </nav>

    <div class="icons">
        <a href="#!"><i class="fas fa-search"></i></a>
        <i class="fa-regular fa-comment" id="chatIcon"></i>
        <a href="Login.html"><i class="fas fa-user"></i></a>
        <i class="fas fa-shopping-cart"></i>
    </div>
</header>