<aside class="Listproduct_sidebar">
    <div class="sidebar_content">
        <div class="Listproduct_logo">Shoppmall</div>

        <div class="sidebar_search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
                type="text"
                class="sidebar_search-input"
                placeholder=" Search for..."
            />
        </div>

        <nav class="menu">
            <div class="menu-item dashboard-btn">
                <div class="item_container">
                    <i class="fa-solid fa-house"></i>
                    <div class="item_title">Dashboard</div>
                </div>
                <i class="fa-solid fa-chevron-right dashboard-icon"></i>
            </div>

            <div class="dashboard_menu">
                <div class="dashboard_item dashboard_item--active">Reports</div>
                <div class="dashboard_item">Products</div>
                <div class="dashboard_item">Invoices</div>
            </div>

            <div class="menu-item">
                <div class="item_container">
                    <i class="fa-solid fa-comment"></i>
                    <div class="item_title">Chat</div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>

            <div class="menu-item">
                <div class="item_container">
                    <i class="fa-solid fa-user"></i>
                    <div class="item_title">Users</div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </nav>
    </div>

    <div class="user-section">
        <div class="user-info">
            <div class="user-avatar"></div>
            <div>
                <div class="user-name">Nemo</div>
                <div class="user_sub">
                    <div class="user-subtitle">Account settings</div>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</aside>
{{#contentFor "sidebar"}}
    <script src="/js/sidebar.js"></script>
{{/contentFor}}