{{#contentFor "styles"}}
    <link rel="stylesheet" href="/css/about.css" />
{{/contentFor}}

{{! About }}

<div class="about_container">
    <div class="about_pic">
      <img src="img/Rectangle 207.png" alt="Anh">
    </div>
    <div class="about_content">
      <div class="about_content_title">
        <h1>About Us</h1>
      </div>
      <div class="about_content_text">
        <p>shoppmall is an online concept store that offers a discerning curation of the finest pieces from the men's
          wardrobe.</p>
        <p>Our vision of fashion goes against its modern sense: we work to democratize the overlooked craftsmanship of
          brands and textile manufacturers who produce the best in their field - always at a fair price.</p>
        <p>Thus, we will never offer an extensive catalog of seasonally manufactured and often unnecessarily logoed
          clothing, but only the best in each category</p>
        <p>The suuupply silhouette is minimalist and effortless. We focus solely on the quality of fabrics used, the
          cuts, and the drape of our products, nothing else.</p>
        <p>Our uncompromising selection of menswear pieces ensures purchasing a well-made product, demanding in its
          manufacturing and in the materials used, that will endure through seasons and trends</p>
        <p>If you believe a product is missing from our selection, want to discuss a common project, or simply send us
          (good) memes - Contact our Paris-based team at: <a
            href="mailto:mthuan2604@gmail.com.com">mthuan2604@gmail.com</a></p>
      </div>
    </div>
  </div>