<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Check-out page</title>
        <!-- Reset css -->
        <link rel="stylesheet" href="./assets/css/reset.css" />
        <!-- font Embed -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
        />
        <!-- Style checkout -->
        <link rel="stylesheet" href="/css/payment.css" />
        {{{block "payment"}}}
    </head>

    <body>
        {{> header_payment}}
        <div class="header__checkout-container">
            {{{body}}}
        </div>
    </body>

</html>